Source: wpasupplicant
Section: net
Priority: optional
Maintainer: Debian/Ubuntu wpasupplicant Maintainers <pkg-wpa-devel@lists.alioth.debian.org>
Uploaders: Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 7.4.12~),
 libdbus-glib-1-dev,
 libssl-dev,
 libpcsclite-dev,
 libreadline-dev,
 libqt4-dev,
 libdbus-1-dev,
 libnl-dev [!kfreebsd-i386 !kfreebsd-amd64],
 libpcap-dev [kfreebsd-i386 kfreebsd-amd64],
 libbsd-dev [kfreebsd-i386 kfreebsd-amd64],
 pkg-config,
 qt4-qmake
Build-Conflicts: libqt3-dev
Standards-Version: 3.8.4
Vcs-Svn: svn://svn.debian.org/pkg-wpa/wpasupplicant/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-wpa/wpasupplicant/trunk/
Homepage: http://w1.fi/wpa_supplicant/

Package: wpasupplicant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6), adduser
Suggests: wpagui, libengine-pkcs11-openssl
Description: client support for WPA and WPA2 (IEEE 802.11i)
 WPA and WPA2 are methods for securing wireless networks, the former
 using IEEE 802.1X, and the latter using IEEE 802.11i. This software
 provides key negotiation with the WPA Authenticator, and controls
 association with IEEE 802.11i networks.

Package: wpagui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wpasupplicant (>= 0.6.2-1), libqt4-svg
Recommends: menu
Description: graphical user interface for wpa_supplicant
 wpagui provides a Qt interface for choosing which configured network
 to connect to. It also provides a method for browsing 802.11 SSID scan
 results, an event history log of messages generated by wpa_supplicant,
 and a method to add or edit wpa_supplicant networks.
